body {
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  padding: 0;
  margin:0;

}
.container {
  background-color: #ed712e;
  border-radius: 1.56rem;
  margin-top:0;
  padding-bottom:2.69rem;
}
.header {
  margin:0 0 1.87rem 0;
  text-align: center;
}

img.logo {
  width: 21.75rem;
  height: auto;
  margin-top:2.69rem;
  max-width: 88.5%;
}
.content{
  background: white;
   border-radius: 1.56rem;
   width:91.57%;
   height: 100%;
   margin:auto;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;

}

.image img{
  width: 19.25rem;
  max-width: 100%;
  height: auto;
  border-radius: 1.56rem;
  margin-top:1.375rem;
}
.wrongCorrect {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 19.25rem;
  max-width: 88.5%;
}
.correctCanvas {
  color:#FF6700;
  margin-top:1.375rem;
}
.correctCanvas img {
  vertical-align: middle;
  width:1.12rem;
  height: 1.12rem;
}
.correctCanvas span {
  vertical-align: middle;
}

.wrongCanvas {
  color:#FF6700;
  margin-top:1.375rem;
}
.wrongCanvas img {
  vertical-align: middle;
  width: 1.12rem;
  height: 1.12rem;

}
.wrongCanvas span {
  vertical-align: middle;
}
.bottomCanvas{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.keyword{
  text-align: center;
  color:#222222;
  margin-top:1.25rem;
  font-size:1rem;
}

.keywordInput {
  margin-top:1.25rem;

}

input#keyword {
  filter:drop-shadow(6px 6px 10px #E7BEA3);
  height:2.25rem;
  width:13rem;

  border:white;
  border-radius: 0.62rem
}

.checkButton {
  margin-top:1.875rem;

}
.check {
  width:13rem;
  height: 2.5rem;
  background-color: #ed712e;
display: flex;
align-items: center;
justify-content: center;
  border-radius: 0.62rem;
  margin-bottom:1.25rem;
}
a.check, a:visited.check {
  color:white;
  font-size:1rem;
  font-weight: 900;
  text-decoration: none
}


@media screen and (min-width: 381px)  {

.container {
  border-radius: 0
}
#content
{
  display: flex;
  flex-direction: column-reverse;
}

img.logo {
  margin-top:3.12rem;
}
.header {
  margin-bottom:3.12rem
}
.content{
  width: 92.19%;
}
.correctCanvas{}

.wrongCorrect{
  width: 20rem;
  margin-bottom: 2.25rem;
}
.correctCanvas, .wrongCanvas{
  margin-top:0;
  font-size:1rem;
}
.wrongCanvas img, .correctCanvas img {
  vertical-align: middle;
  width: 1.4rem;
  height: 1.4rem;
}

.image img{
  width:25rem;
  max-width: 81vw;
}
.keyword{
  font-size:1.25rem;
}
 input#keyword{
   width : 39.06vw;
   height: 2.5rem;
  font-size:1.25rem;
 }
 a.check, a:visited.check {
   font-size:1.25rem;
 }
 .check {
   width:15.62rem;
   height: 3.125rem;
 }
}

@media screen and (min-width: 1281px)  {
  img.logo {
    width:31.25rem;
    margin-top:3.12rem;
  }
  .header {
    margin-bottom:3.12rem;
  }
  .content{
    width: 80rem;
  }
  .image img{
    width:43.75rem;
  }
  .keyword{
    font-size:1.5rem;
  }
  input#keyword {
    width:43.75rem;
    height: 3.12rem;
    padding:0;
    font-size:1.5rem;
  }

  .check {
    width:20.25rem;
    height: 3.75rem;
  }

  .wrongCorrect{
    width: 24rem;
    margin-bottom: 3.25rem;
  }
  .correctCanvas, .wrongCanvas{
    margin-top:0;
    font-size:1.25rem;
  }
  .wrongCanvas img, .correctCanvas img {
    vertical-align: middle;
    width: 1.4rem;
    height: 1.4rem;
  }
  a.check, a:visited.check {
    font-size:1.5rem;
  }

}
